<div class = "title">
<h1>Add movie to your list </h1>
</div>


<div class= "form">
<%= simple_form_for [@list, @bookmark] do |f|   %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>
</div>
