
<div class="container">
  <div class="row">
    <div class="col col-m-4">
    </div>
    <div class="col col-m-4 mt-5">
      <h1>Add a Bookmark</h1>

      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie%>
      <%= f.submit%>
      <% end %>
    </div>
     <div class="col col-m-4">
     </div>
  </div>
</div>
